@model pishnahad.Models.sabt

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


 @if (TempData["sabt"].ToString() == "1")
    {
        <script>
            alert("با تشکر از ثبت پیشنهاد شما")
        </script>
    }

<div id="content" style="position:relative;right:-3000px">


    <h4>ثبت پیشنهاد</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="fname" class="control-label"></label>
                    <input asp-for="fname" class="form-control" />
                    <span asp-validation-for="fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lname" class="control-label"></label>
                    <input asp-for="lname" class="form-control" />
                    <span asp-validation-for="lname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="meli" class="control-label"></label>
                    <input asp-for="meli" class="form-control" />
                    <span asp-validation-for="meli" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="matn" class="control-label"></label>
                    @*<input asp-for="matn" class="form-control" />*@
                    <textarea rows="5" asp-for="matn" class="form-control" ></textarea>
                    <span asp-validation-for="matn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ثبت پیشنهاد" class="btn btn-outline-success btn-rounded" />
                </div>
            </form>
        </div>
    </div>

@*    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(() => {
            $("#content").animate({ right: "0" });
            $(window).scrollTop($("#back").offset().top);
        });
    </script>
    }
